includes:
    - vendor/phpat/phpat/extension.neon

services:
    -
        class: App\Tests\Architecture\UserArchitectureTest
        tags:
            - phpat.test

parameters:
    level: 10
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
